@layer components {
    .alert-box {
        @apply rounded-lg text-white px-4 py-2 my-4;    
    }
    
    .bg-info {
        @apply bg-blue-500 text-gray-200;
    }

    .bg-notice {
        @apply bg-amber-100 text-emerald-900;
    }
    
    .bg-warning {        
        @apply bg-orange-300 text-gray-800;
    }
    
    .bg-danger {
        @apply bg-red-500 text-gray-800;
    }
}

.post-content .alert-box code {
    @apply bg-gray-700 text-white;
}

.post-content .alert-box a {
    @apply underline text-gray-800 hover:text-gray-700;
}

.post-content ul li {
    @apply list-disc;
}

.post-content ol li {
    @apply list-decimal;
}